body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url("/img/wallpapersden.com_dark-sun-minimal_5120x2880.jpg"), url("https://images.wallpapersden.com/image/download/dark-sun-minimal_bGxsbWeUmZqaraWkpJRqZmdlrWdtbWU.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0;
    display: grid;
    place-content: center;
}

.personaje1{
    height: 25vh;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    position: absolute;
    margin: 20px;
    top: 22.5vh;
}

.personaje2{
    height: 25vh;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    position: absolute;
    margin: 20px;
    top: 22.5vh;
    right: 20px;
}

.blackcircle1{
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: black;
}

.blackcircle2{
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: black;
    float: right;
}


.vs{
    height: auto;
    width: auto;
    color: aliceblue;
    font-size: 5em;
    margin-bottom: 18vh;
    display: grid;
    place-content: center;
    
}

.centerimg1{
    width: 70%;
    aspect-ratio: 1/1;
    background-image: url("https://fotografias.larazon.es/clipping/cmsimages02/2024/10/29/7F5B7A43-17D1-4895-B4CD-B07F0238352A/primer-tanque-batalla-mundo-impulsado-hidrogeno-silencioso-furtivo-letal_98.jpg?crop=661,372,x0,y0&width=1900&height=1069&optimize=low&format=webply");
}

.nosifer-regular {
    font-family: "Nosifer", sans-serif;
    font-weight: 400;
    font-style: normal;
  }